@use '../settings/shared' as v

body
  color: v.$clr-text

.title
  color: #111

  &_light
    color: #fff

.subtitle
  color: v.$clr-accent

.more-btn
  .icon
    transition: transform v.$tr-fast
  @include v.has-mouse
    &:hover
      .icon
        transform: translateX(v.to-rem(5))
