@use '../../settings/shared' as v

.badges
  display: flex
  flex-wrap: wrap
  gap: v.$space-xs
  
  &__badge
    padding: 0 v.$space-xs
    min-height: v.to-rem(28)
    display: inline-flex
    align-items: center
    justify-content: center
    font-weight: 500
    font-size: v.$fz-md
    border: v.to-rem(1) solid

    &_category
      position: relative

      a
        display: flex
        align-items: center
        justify-content: center
        height: 100%

    &_peak
      display: flex
      column-gap: v.$space-xs
