@use '../../settings/shared' as v

*
  box-sizing: border-box

html, body
  margin: 0
  height: 100%

html
  font-size: v.$fz-base

body
  font-family: v.$ff-base
  display: flex
  flex-direction: column
  line-height: 1.3
  background-color: #f9f9fb
  min-height: 100vh

  main
    flex: 1 0 auto

  &.scroll-locked
    overflow: hidden

h1, h2, h3
  font-weight: 600
  line-height: 1.2

.icon
  width: v.to-rem(20)
  height: v.to-rem(20)

.logo
  display: flex
  align-items: center
  justify-content: center
  width: v.to-rem(100)
  height: v.to-rem(30)
  flex-shrink: 0

img
  width: 100%
  height: auto
  display: block
  object-fit: cover

.container
  margin: 0 auto
  padding: 0 v.$container-padding
  width: 100%

  @include v.media(tablet)
    max-width: v.to-rem(720)

  @include v.media(laptop)
    max-width: v.to-rem(920)

  @include v.media(desktop)
    max-width: v.to-rem(1200)

  &_wide
    max-width: v.to-rem(1800)

.main-content
  &_inner-page
    padding-top: v.to-rem(50)

    @include v.media(tablet)
      padding-top: v.to-rem(70)

  &_dark-bg
    background-color: #162017

.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

.title-wrap
  margin-bottom: v.$space-md
  @include v.media(tablet)
    margin-bottom: v.$space-xl

.title
  font-size: v.to-rem(25)
  font-weight: 400
  font-family: v.$ff-accent

  &_centered
    text-align: center

  @include v.media('tablet')
    font-size: v.to-rem(30)

.subtitle
  text-align: center
  font-size: v.to-rem(16)
  margin-top: v.to-rem(12)
  max-width: v.to-rem(600)
  margin-inline: auto

.section-padding
  padding: v.$section-padding-y

  @include v.media(desktop)
    padding: v.to-rem(60) 0

  &_sm-interval
    padding: v.$space-xl 0

.section-bg
  background-color: #f3f1ef

.more-btn
  display: flex
  align-items: center
  column-gap: v.$space-xs

a
  text-decoration: none

ul
  li
    list-style: none

