@use '../../settings/shared' as v

.teaser-cards
  position: relative

  &__slider
    position: relative

  &__grid
    gap: v.$space-sm

    @include v.media(tablet)
      gap: v.$space-lg

    @include v.media(laptop)
      gap: v.$space-sm

    @include v.media(desktop)
      gap: v.$space-lg

  &__item
    width: 100%

    @include v.media(tablet)
      width: calc( (50% - (1 * v.$space-lg) / 2) )

    @include v.media(laptop)
      width: calc( (100% - (3 * v.$space-sm)) / 4 )

    @include v.media(desktop)
      width: calc( (100% - (3 * v.$space-lg)) / 4 )

.teaser-card
  position: relative
  overflow: hidden
  background-color: #fff
  border-radius: v.$rad-md

  &__img
    overflow: hidden
    aspect-ratio: 4/3
    background-color: #D3CFCB
    

    img
      height: 100%

  &__desc
    padding: v.$space-md
    
    .badges
      margin-bottom: v.$space-sm

      &__badge_category
        z-index: 2

  &__title
    margin-bottom: v.$space-xs
    font-size: v.$fz-base
    font-weight: 500

  p
    font-size: v.$fz-md
    margin-bottom: v.$space-sm
    font-weight: 500
    line-height: 1.4

  &__more
    display: inline-flex
    align-items: center
    justify-content: center
    gap: v.$space-xs  

  &__link
    position: absolute
    width: 100%
    height: 100%
    z-index: 1  