@use '../settings/shared' as v

.about
  
  &__link
    transition: color v.$tr-base
    color: v.$clr-accent
    
    @include v.media(laptop)
      color: v.$clr-text
      

    .icon
      transition: transform v.$tr-base

  &__features-item
    
    .icon
      color: v.$clr-accent

    p
      color: #00000056

  &__features-title
    color: v.$clr-accent  