@use '../settings/shared' as v

.article
  img
    border-radius: v.$rad-sm
    aspect-ratio: 16/9
    box-shadow: v.$shadow-lg
    height: 100%

  &__img-caption
    margin-top: v.$space-sm
    font-size: v.$fz-sm
    color: v.$clr-text-muted
    text-align: center

  &__card
    display: flex
    flex-direction: column
    gap: v.$space-lg
    margin-bottom: v.$space-xl

    &:last-child
      margin-bottom: 0

    @include v.media(laptop)
      flex-direction: row

      &_reverse
        flex-direction: row-reverse

    h2
      margin-bottom: v.$space-md
      
  &__card-col
    @include v.media(laptop)
      width: 50%

  &__card-text
    display: flex
    flex-direction: column
    justify-content: center

    

  &__img-full
    margin-bottom: v.$space-xl
    &:last-child
      margin-bottom: 0
    img
      height: v.to-rem(350)

  &__text-content
    margin-bottom: v.$space-xl