@use '../settings/shared' as v

.breadcrumbs
  margin-top: v.$space-xl

  &__list
    display: flex
    flex-wrap: wrap
    column-gap: v.$space-xs

  &__item
    color: v.$clr-accent
    font-weight: 500
    position: relative
    font-size: v.$fz-md

    &::after
      padding-left: v.$space-xs
      content: '/'

    &:last-child
      @include v.has-mouse
        &:hover
          cursor: default

      &::after
        display: none

    &:last-child
      color: v.$clr-accent-darker
      
  &__link
    text-decoration: none
    color: currentColor
    transition: color v.$tr-base
    
    @include v.has-mouse
      &:hover
        color: v.$clr-secondary

  &_light
    .breadcrumbs__item
      &:last-child
        color: v.$clr-accent

    .breadcrumbs__link
      color: #fff