@use '../settings/shared' as v

.breadcrumbs
  margin-top: v.to-rem(30)
  ul
    display: flex
    flex-wrap: wrap
    column-gap: 5px

    li
      list-style: none
      color: v.$clr-accent
      font-weight: 500
      position: relative
      font-size: v.to-rem(12)
      &::after
        padding-left: v.to-rem(5)
        content: '/'

      &:last-child
        @include v.has-mouse
          &:hover
            cursor: default

        &::after
          display: none

      a
        text-decoration: none
        color: currentColor
        transition: color v.$tr-base

        @include v.has-mouse
          &:hover
            color: v.$clr-secondary

      &:last-child
        color: v.$clr-secondary
