@use '../settings/shared' as v
button,
.btn
  border: none
  outline: none
  background: none
  text-decoration: none
  cursor: pointer
  

.btn-wrap
  display: flex

  &_centered
    justify-content: center

.btn
  display: inline-flex
  align-items: center
  justify-content: center
  column-gap: v.$space-xs
  padding: v.$space-sm v.$space-md
  font-size: v.$fz-sm
  background-color: v.$clr-accent
  color: #fff
  text-decoration: none
  font-weight: 500
  transition: background-color v.$tr-base
  text-transform: uppercase
  letter-spacing: v.to-rem(1)
  border: none
  cursor: pointer

  @include v.media(laptop)
    padding: v.$space-md v.$space-xl
    font-size: v.$fz-base

  @include v.has-mouse
    &:hover
      background-color: rgb(v.$clr-accent, 70%)

      .icon
        transform: translateX(v.to-rem(5))

  .icon
    width: v.to-rem(24)
    height: v.to-rem(24)
    transition: transform v.$tr-base
    color: currentColor
    flex-shrink: 0

  &_light
    background-color: #fff
    color: v.$clr-text

    @include v.has-mouse
      &:hover
        color: #fff

  &_bordered
    background-color: transparent
    border: v.to-rem(1) solid v.$clr-accent
    color: v.$clr-accent

    @include v.has-mouse
      &:hover
        background-color: v.$clr-accent
        color: #fff
