@use '../settings/shared' as v

.contacts

  
  &__info
    display: flex
    flex-direction: column
    gap: v.$space-md
    
    @include v.media(tablet)
      gap: v.$space-lg

  &__panel
    background-color: #fff
    border-radius: v.$rad-lg
    padding: v.$space-lg
    box-shadow: v.$shadow-sm
    border: v.to-rem(1) solid #e2e2e9
    height: 100%
    
    @include v.media(tablet)
      padding: v.to-rem(40)

  &__panel-title
    font-family: v.$ff-base
    font-size: v.$fz-xl
    font-weight: 600
    margin-bottom: v.$space-lg
    color: v.$clr-text
    text-transform: uppercase
    letter-spacing: 0.05em

    &_bordered
      padding-bottom: v.$space-md
      border-bottom: v.to-rem(1) solid #e2e2e9
      margin-bottom: v.$space-md

  &__details
    display: grid
    gap: v.$space-md
    
   

  &__item
    display: flex
    flex-direction: column
    gap: v.to-rem(8)

    // Модификатор для растягивания элемента на всю ширину (например, email)
    &_full
      grid-column: 1 / -1

  &__label
    font-size: v.$fz-xs
    font-weight: 600
    text-transform: uppercase
    color: v.$clr-text-muted
    letter-spacing: 0.05em

  &__value
    font-size: v.$fz-md
    color: v.$clr-text
    line-height: 1.5
    font-weight: 500
    text-decoration: none
    transition: color v.$tr-base

  // Наведение работает только для ссылок (телефоны, почта)
  a.contacts__value
    @include v.has-mouse
      &:hover
        color: v.$clr-accent