@use '../settings/shared' as v

.footer
  &__contacts-link
    color: v.$clr-text

    span
      transition: color v.$tr-base

    @include v.has-mouse
      &:hover
        span
          color: v.$clr-accent

  &__bottom
    
    .logo
      color: #fff

    nav
      ul
        li
          a
            color: #fff

  

  &__copyright
    color: #fff