@use '../settings/shared' as v

@mixin flex-center
  display: flex
  align-items: center

@mixin pseudo-element
  &::after
    position: absolute
    content: ''
    width: 100%
    height: v.to-rem(10)
    top: 100%
    left: 0

@mixin dropdown-menu
  display: flex
  flex-direction: column
  position: absolute
  top: calc(100% + v.to-rem(15))
  pointer-events: none
  opacity: 0
  transition: top v.$tr-base, opacity v.$tr-base
  z-index: 10
  width: max-content
  background-color: #fff
  list-style: none
  border-radius: v.$rad-sm
  box-shadow: v.$shadow-sm
  overflow: hidden

  .header__nav-sublink,
  .header__callback-link
    @include flex-center
    color: v.$clr-accent
    padding: v.$space-xs v.$space-md
    text-decoration: none
    text-align: left
    column-gap: v.$space-xs
    transition: background-color v.$tr-fast, color v.$tr-fast

    .icon
      transition: color v.$tr-base

    @include v.has-mouse
      &:hover
        color: #fff
        background-color: rgba(v.$clr-accent, .5)

@mixin dropdown-active
  opacity: 1
  pointer-events: auto
  top: calc(100% + v.to-rem(5))

.header
  &__nav-item
    @include pseudo-element
    @include v.has-mouse
      &:hover
        .header__nav-sublist
          @include dropdown-active

  &__nav-link
    @include v.has-mouse
      &:hover
        color: #ddd

  &__nav-sublist
    @include dropdown-menu
    left: 0

  &__nav-subitem
    &:after
      display: none

  &__nav-sublink
    text-transform: inherit

  &__nav-sublist,
  &__callback-list
    opacity: 0
    position: absolute
    pointer-events: none

  &__controls
    @include v.has-mouse
      cursor: pointer

  &__btn, 
  &__callback-wrap
    @include v.has-mouse
      cursor: pointer

  &__callback
    @include pseudo-element
    &:hover
      .header__callback-list
        @include dropdown-active

  &__callback-list
    @include dropdown-menu
    right: 0

  &_inside
    .header__container
      padding: 0 v.$space-md

  &_inside,
  &_reduced
    .header__container
      background-color: #f9f9fb
      box-shadow: v.$shadow-sm

    .logo
      color: #000

    .hamburger
      color: v.$clr-accent

    .header__nav-link
      color: v.$clr-text
      @include v.has-mouse
        &:hover
          color: v.$clr-accent-darker

  &_reduced
    opacity: 1
    .header__container
      padding: 0 v.$space-xs

      @media (min-width: 340px)
        padding: 0 v.$space-md

      @include v.media(desktop)
        max-width: calc( v.to-rem(1200) - (v.$container-padding * 3) )

    .logo
      flex-shrink: 0

      @include v.media(desktop)
        width: v.to-rem(100)
        height: v.to-rem(30)

    .header__nav-link
      text-transform: inherit

  &_glued
    opacity: 1