@use '../settings/shared' as v

@mixin flex-center
  display: flex
  align-items: center

@mixin pseudo-element
  &::after
    position: absolute
    content: ''
    width: 100%
    height: v.to-rem(10)
    top: 100%
    left: 0

@mixin dropdown-menu
  display: flex
  flex-direction: column
  position: absolute
  top: calc(100% + v.to-rem(15))
  pointer-events: none
  opacity: 0
  transition: top v.$tr-base, opacity v.$tr-base
  z-index: 10
  width: max-content
  background-color: #fff
  list-style: none
  border-radius: v.$rad-sm
  box-shadow: v.$shadow-sm
  overflow: hidden

  .header__nav-sublink,
  .header__callback-link
    @include flex-center
    color: v.$clr-accent
    padding: v.$space-xs v.$space-md
    text-decoration: none
    text-align: left
    column-gap: v.$space-xs
    transition: background-color v.$tr-fast, color v.$tr-fast

    .icon
      transition: color v.$tr-base

    @include v.has-mouse
      &:hover
        color: #fff
        background-color: rgba(v.$clr-accent, .5)

@mixin dropdown-active
  opacity: 1
  pointer-events: auto
  top: calc(100% + v.to-rem(5))

.header
  &__nav-item
    @include pseudo-element
    @include v.has-mouse
      &:hover
        .header__nav-sublist
          @include dropdown-active

  &__nav-link
    @include v.has-mouse
      &:hover
        color: #ddd

  &__nav-sublist
    @include dropdown-menu
    left: 0

  &__nav-subitem
    &:after
      display: none

  &__nav-sublink
    text-transform: inherit

  &__nav-sublist,
  &__callback-list
    opacity: 0
    position: absolute
    pointer-events: none

  &__controls
    @include v.has-mouse
      cursor: pointer

  &__btn, 
  &__callback-wrap
    @include v.has-mouse
      cursor: pointer

  &__callback
    @include pseudo-element
    &:hover
      .header__callback-list
        @include dropdown-active

  &__callback-list
    @include dropdown-menu
    right: 0

  

  