@use '../settings/shared' as v

.hero
  &_inside
    display: flex
    justify-content: flex-end
    flex-direction: column

    .hero
      &__content
        padding-bottom: v.$space-xl
        width: 100%

  &_without-darkening
    &::before
      display: none