@use '../settings/shared' as v

@mixin wh
  width: 100%
  height: 100%

.hero
  position: relative

  &::before
    @include wh
    position: absolute
    content: ''
    inset: 0
    background-color: rgba(0,0,0,0.5)
    z-index: 2

  &__poster
    @include wh

    img
      height: 100%

    &_center-bg
      img
        object-position: center

    &_top-bg
      img
        object-position: top

    &_bottom-bg
      img
        object-position: bottom

    &_left-bg
      img
        object-position: left

    &_right-bg
      img
        object-position: right

    &_top-left-bg
      img
        object-position: top left

    &_top-right-bg
      img
        object-position: top right

    &_bottom-left-bg
      img
        object-position: bottom left

    &_bottom-right-bg
      img
        object-position: bottom right

  &__media,
  &__video
    @include wh
    position: absolute
    inset: 0

  &__content
    position: relative
    z-index: 3
    min-height: 75vh
    padding-top: v.to-rem(85)
    padding-bottom: v.to-rem(120)
    display: flex
    align-items: flex-start

    @include v.landscape
      padding-bottom: v.$space-xl
      height: auto

    @include v.media(tablet)
      min-height: 100svh

    @include v.media(laptop)
      align-items: flex-end
      padding-bottom: v.to-rem(100)

  &__title
    font-family: v.$ff-accent
    color: #fff
    font-size: v.$fz-hero
    line-height: v.to-rem(40)
    font-weight: 400

    @include v.media(tablet)
      font-size: v.to-rem(60)
      line-height: v.to-rem(60)

  &__title-accent
    font-style: italic
    font-weight: 300
    font-size: 80%

  &__subtitle
    margin-top: v.$space-lg
    text-transform: uppercase
    color: #fff
    line-height: 1.6
    font-weight: 500
    max-width: v.to-rem(360)
    width: 100%

  &__btn-links
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: v.$space-sm
    margin-top: v.$space-sm

    @include v.media(tablet)
      flex-direction: row

  &_inside
    .hero__content
      min-height: v.to-rem(400)
      align-items: flex-end
