@use '../settings/shared' as v

.promo-highlight
  @include v.media(tablet)
    display: flex
  &__img
    position: relative
    max-height: v.to-rem(400)

    @include v.media(tablet)
      width: 57%

    img
      width: 100%
      height: 100%
      inset: 0
      object-fit: cover

  &__desc
    background-color: v.$clr-accent-darker
    color: #fff
    display: flex
    align-items: center
    padding: v.$space-xl v.$space-md

    @include v.media(tablet)
      padding: v.$space-xl v.$space-md v.$space-xl v.$space-xl
      width: 43%

    @include v.media(desktop)
      padding: v.$space-xl v.$space-md v.$space-xl v.to-rem(100)

    .title,
    p
      margin-bottom: v.$space-md
