@use '../settings/shared' as v
.reviews
  &__slider
    gap: v.$space-xl

    &::-webkit-scrollbar
      display: none

  &__slide
    flex: 0 0 calc( 100vw - v.to-rem(30) )

    @include v.media(tablet)
      flex: 0 0 50%

    @include v.media(laptop)
      flex: 0 0 33.33%

  &__item
    display: flex
    align-items: flex-end
    gap: v.$space-lg

  &__photo
    width: v.to-rem(50)
    height: v.to-rem(50)
    display: flex
    align-items: center
    justify-content: center
    border-radius: 100%
    overflow: hidden
    background-color: #eee
    flex-shrink: 0

  &__text
    p
      font-family: v.$ff-accent
      font-weight: 500
      letter-spacing: v.to-rem(2)

    figcaption
      font-weight: 700
      margin-top: v.$space-xl
      display: block
