@use '../settings/shared' as v

.slider
  position: relative

  &__btn
    cursor: pointer
    background-color: #fff
    border-radius: 100%
    box-shadow: 0 4px 12px rgba(0,0,0,0.1)

  &__pagination
    .pagination-dot
      background-color: #ddd
      transition: background-color v.$tr-base
      border-radius: 50%
      cursor: pointer

      &--active
        background-color: v.$clr-secondary

      @include v.has-mouse
        &:hover
          background-color: v.$clr-secondary

  &__thumb

    cursor: pointer
    opacity: 0.6
    transition: opacity v.$tr-base, border v.$tr-base

    @include v.has-mouse
      &:hover
        opacity: 0.8

    &--active
      opacity: 1
