@use '../settings/shared' as v

.teaser-card
  
  transition: transform v.$tr-base
  will-change: transform
  box-shadow: v.$shadow-md

  &__img
    img
      transition: transform v.$tr-base
      
  p
    color: #6b6b73

  &__more
    cursor: pointer
    color: v.$clr-secondary
    
    .icon
      transition: transform v.$tr-base

  @include v.has-mouse
    &:hover
      transform: translateY(v.to-rem(-5))
      .teaser-card__img
        img
          transform: scale(1.02)

      .teaser-card__more
        .icon
          transform: translateX(v.to-rem(5))