@use '../settings/shared' as v

.tour
  padding: v.$space-lg 0

  &__grid
    display: flex
    flex-direction: column
    row-gap: v.$space-lg

    @include v.media(laptop)
      column-gap: v.$space-lg
      display: grid
      grid-template-columns: 60% 1fr
      grid-template-areas: "gallery desc" "gallery specifications" "accordion specifications"

    @include v.media(desktop)
      column-gap: v.$space-lg
      grid-template-columns: 65% 1fr

  &__desc
    grid-area: desc
    

    .title
      font-family: v.$ff-base
      margin-bottom: v.$space-md
      font-weight: 500

    p
      font-size: v.$fz-md
      line-height: 1.6

  &__slider-gallery
    padding: 0

  &__gallery
    grid-area: gallery
    

  &__slider-wrap
    position: relative
    aspect-ratio: 16/9

  &__gallery-item
    width: 100%
    border-radius: v.$rad-sm
    overflow: hidden
    img
      height: 100%
      object-fit: cover

  &__gallery-nav
    position: absolute
    width: 100%
    top: 50%
    transform: translateY(-50%)
    padding: 0 v.$space-md

  &__gallery-pagination
    position: absolute
    width: 100%
    display: flex
    bottom: 0
    margin-top: 0
    padding-bottom: v.$space-md

  
  &__gallery-thumb
    border-radius: v.$rad-sm


  &__specifications
    grid-area: specifications

  &__btn
      width: 100%
      border-radius: v.$rad-lg
      font-size: v.$fz-xl

  &__item-sticky
    @include v.media(laptop)
      position: sticky
      top: v.to-rem(100)
      height: auto

  &__accordion
    grid-area: accordion

  .specifications
    display: flex
    gap: v.$space-xs
    margin-bottom: v.to-rem(30)

    &__item
      width: calc( (100% - (3 * v.$space-xs)) / 4 )
      text-align: center
      display: flex
      flex-direction: column
      align-items: center
      row-gap: v.$space-xs
      flex-shrink: 0

      .icon
        color: v.$clr-accent
        height: 40px
        width: 100%

      span
        text-transform: uppercase
        font-size: v.$fz-xs
        font-weight: 500
        line-height: 1.3
        display: block

    &__difficulty

      &_lvl-1
        .icon_difficulty-arrow
          transform: rotate(-65deg)
          margin-left: v.to-rem(7.5)
          margin-bottom: v.to-rem(2)

      &_lvl-2
        .icon_difficulty-arrow
          transform: rotate(-23deg)
          margin-left: v.to-rem(4)

      &_lvl-3
        .icon_difficulty-arrow
          margin-right: v.to-rem(4)
          transform: rotate(23deg)

      &_lvl-4
        .icon_difficulty-arrow
          transform: rotate(65deg)
          margin-right: v.to-rem(7.5)
          margin-bottom: v.to-rem(2)

    &__difficulty-icon
      display: flex
      position: relative
      align-items: flex-end
      justify-content: center

      .icon
        &_difficulty
          width: v.to-rem(60)
          height: v.to-rem(40)
          align-items: flex-start

        &_difficulty-arrow
          width: v.to-rem(12)
          height: v.to-rem(24)
          position: absolute
          transform-origin: bottom
          display: flex
          align-items: center
          justify-content: center

  .price-card
    border-radius: v.$rad-lg
    text-align: center
    display: flex
    flex-direction: column
    row-gap: v.$space-lg
    line-height: normal
    background-color: #f3f3fb
    padding: v.$space-md
    margin-bottom: v.$space-lg
    border: 2px solid v.$clr-accent

    &__duration
      font-size: v.$fz-base
      font-weight: 500

    &__label
      font-size: v.$fz-sm
      text-transform: uppercase
      font-weight: 500
      color: v.$clr-accent-darker

    &__value
      font-size: v.$fz-xxl
      color: v.$clr-accent
      font-weight: 600

  &__all-link
    text-decoration: none
    text-align: center
    color: v.$clr-accent
    display: flex
    align-items: center
    justify-content: center
    font-weight: 500
    font-size: v.$fz-sm
    text-transform: uppercase
    margin-top: v.$space-lg
    column-gap: v.to-rem(2)

    .icon
      transition: transform v.$tr-base

    @include v.has-mouse
      &:hover
        .icon
          transform: translateX(3px)

  table
    border-collapse: collapse
    width: 100%
    tr
      td
        border: 1px solid v.$clr-secondary
        padding: v.to-rem(10) v.to-rem(7)
        font-size: v.$fz-xs

        @include v.media(tablet)
          font-size: v.$fz-sm

        &:last-child
          text-align: center

      &:nth-child(odd)
        td
          background-color: rgba(v.$clr-secondary, .2)

  .tour-tabs
    h2,
    h3,h4,h5,h6
      margin-bottom: v.$space-md
      

    &__text
      p
        margin-bottom: v.$space-md
        &:last-child
          margin-bottom: 0

    &__desc
      padding-bottom: v.$space-lg
      margin-bottom: v.$space-lg
      border-bottom: v.to-rem(1) solid #e2e2e9
      
      &:last-child
        border: none

      ul
        padding-left: v.$space-md

    &__table-booking
      td
        border-top: 0
        border-right: 0
        border-left: 0
        font-weight: 500

        &:nth-child(2)
          text-align: center

        &:last-child
          text-align: right

    &__table-btn
      padding: v.to-rem(5) v.to-rem(8)
      font-size: v.$fz-xs
      border-radius: v.$rad-sm
      display: inline-flex