@use '../settings/shared' as v

.tour
  .specifications
    &__item
      .icon
        color: v.$clr-accent

  .price-card
    &__label
      color: v.$clr-accent-darker

    &__value
      color: v.$clr-accent

  &__all-link
    color: v.$clr-accent

    .icon
      transition: transform v.$tr-base

    @include v.has-mouse
      &:hover
        .icon
          transform: translateX(3px)

  table
    border-collapse: collapse
    width: 100%
    tr
      td
        border: v.to-rem(1) solid v.$clr-secondary
        padding: v.to-rem(10) v.to-rem(7)
        font-size: v.$fz-xs

        @include v.media(tablet)
          font-size: v.$fz-sm

        &:last-child
          text-align: center

      &:nth-child(odd)
        td
          background-color: rgba(v.$clr-secondary, .2)

  .tour-tabs
    
    &__table-booking
      td
        border-top: 0
        border-right: 0
        border-left: 0
        font-weight: 500

        &:nth-child(2)
          text-align: center

        &:last-child
          text-align: right

    &__table-btn
      padding: v.to-rem(5) v.to-rem(8)
      font-size: v.$fz-xs
      border-radius: v.$rad-sm
      display: inline-flex