@use '../settings/shared' as v

.tour-card
  box-shadow: v.$shadow-lg
  transition: transform v.$tr-base

  @include v.has-mouse
    &:hover
      transform: translateY(v.to-rem(-3))

      .tour-card__img img
        transform: scale(1.02)

  &__img
    img
      transition: transform v.$tr-base

  .feature

    .icon
      color: v.$clr-accent

    &__label
      color: #737995
