@use '../settings/shared' as v

.card-grid
  display: flex
  flex-wrap: wrap
  gap: v.to-rem(20)

  @include v.media(desktop)
    gap: v.to-rem(30)

  .tour-card
    @include v.media(tablet)
      width: calc( (100% - v.to-rem(20) ) / 2 )

    @include v.media(laptop)
      width: calc( (100% - (2 * v.to-rem(20))) / 3 )

    @include v.media(desktop)
      width: calc( (100% - (3 * v.to-rem(30))) / 4 )

.tour-card
  position: relative
  background-color: #fff
  border-radius: v.to-rem(12)
  box-shadow: 0 10px 26px rgba(12,21,38,.06)
  overflow: hidden
  transition: transform v.$tr-base
  width: 100%

  @include v.has-mouse
    &:hover
      transform: translateY(v.to-rem(-3))

      .tour-card__img img
        transform: scale(1.02)

  &__head
    position: relative
    .badges
      justify-content: space-between
      position: absolute
      top: v.to-rem(20)
      left: v.to-rem(20)
      right: v.to-rem(20)

  &__img
    aspect-ratio: 16/9
    overflow: hidden
    img
      width: 100%
      height: 100%
      transition: transform v.$tr-base

  &__body
    display: flex
    flex-direction: column
    row-gap: v.to-rem(10)
    padding: v.to-rem(16)

    @include v.media(tablet)
      padding: v.to-rem(24)

  &__title
    font-size: v.to-rem(17)

  &__desc
    font-size: v.to-rem(14)

  &__footer
    padding: 0 v.to-rem(16) v.to-rem(16)

    @include v.media(tablet)
      padding: 0 v.to-rem(24) v.to-rem(24)

    .btn
      width: 100%
      border-radius: v.to-rem(12)

  &__features
    display: flex
    column-gap: v.to-rem(20)
    text-align: center

  &__feature
    display: flex
    flex-direction: column
    align-items: center
    row-gap: v.to-rem(5)
    width: calc( (100% - (2 * v.to-rem(20))) / 3 )

  .feature

    .icon
      color: v.$clr-accent
      width: v.to-rem(22)
      height: v.to-rem(22)

    &__label
      font-size: v.to-rem(10)
      color: #737995
      font-weight: 500
      text-transform: uppercase

    &__value
      font-size: v.to-rem(12)
      font-weight: 500

  &__link
    position: absolute
    inset: 0
    width: 100%
    height: 100%
