@use '../settings/shared' as v

.whatsapp-float
  position: fixed
  width: v.to-rem(60)
  height: v.to-rem(60)
  bottom: v.to-rem(20)
  right: v.to-rem(5)
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  z-index: 10000
  transition: transform v.$tr-base
  text-decoration: none

.whatsapp-float
  @include v.has-mouse
    &:hover
      transform: scale(1.1)
      animation: none
